torch==2.2.1
torchvision==0.17.1
accelerate
ftfy
tensorboard
Jinja2
scipy
bitsandbytes
opencv-python
sentencepiece
ema-pytorch
einops
ninja
h5py
chardet
ema-pytorch
wandb
transformers
pandas
controlnet_aux
diffusers